@charset "utf-8";
*::-moz-selection, *::-webkit-selection, *::selection {
	background: rgba(0,0,0,0);
	cursor: default;
	-webkit-transition: all 100ms 100ms;
	-moz-transition: all 100ms 100ms;
	-ms-transition: all 100ms 100ms;
	-o-transition: all 100ms 100ms;
	transition: all 100ms 100ms;
} 
.alert {
	background: #ff7d23;
	border: 1px solid #f60;
	box-shadow: 7px 7px 5px rgba(50,50,50,0.46);
	color: #FFF;
	display: block;
	font-size: 20px;
	height: 90px;
	line-height: 25px;
	padding: 5px 25px;
	position: fixed;
	right: 0;
	top: 150px;
	transition: all 400ms ease 0s;
	width: 250px;
	z-index: 100;
	-moz-box-shadow: 7px 7px 5px rgba(50,50,50,0.46);
	-moz-transition: all 400ms ease 0s;
	-o-transition: all 400ms ease 0s;
	-webkit-box-shadow: 7px 7px 5px rgba(50,50,50,0.46);
	-webkit-transition: all 400ms ease 0s;
	-ms-transition: all 400ms ease 0s;
}
.botton {
	background: #f4f4f4;
	bottom: 0;
	clear: both;
	color: rgba(145,209,0,1);
	display: block;
	font-size: 25px;
	font-weight: lighter;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
	padding-right: 25px;
	position: absolute;
	width: 730px;
}
.botton a {
	display: block;
	float: left;
	height: 50px;
	margin: 0;
	transition: all 400ms ease 0s;
	-moz-transition: all 400ms ease 0s;
	-o-transition: all 400ms ease 0s;
	-webkit-transition: all 400ms ease 0s;
	padding-top: 0;
	padding-right: 10px;
	padding-bottom: 0;
	padding-left: 10px;
	-ms-transition: all 400ms ease 0s;
	color: rgba(145,209,0,1);
}
.botton a:hover {
	background: #dedede;
	transition: all 400ms;
	-moz-transition: all 400ms;
	-o-transition: all 400ms;
	-webkit-transition: all 400ms;
	color: rgba(145,209,0,1);
}
.loader {
	height:0;
	left:0;
	overflow:hidden;
	position:static;
	top:0;
	visibility:hidden;
	width:0
}

.menu {
	font-size: 20px;
	line-height: 50px;
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	background-color: rgba(131,186,31,1);
	border-bottom: 1px solid #648E18;
	color: #FFF;
}
.menu .centralize{
	width: 780px;
	margin-left: -390px;
	position: relative;
	left: 50%;
}
.menu .menubtn,.menu .menubtnactive {
	display: block;
	float: left;
	height: 50px;
	line-height: 50px;
	text-align: center;
	transition: all 400ms ease 0s;
	vertical-align: middle;
	width: 130px;
	-moz-transition: all 400ms ease 0s;
	-o-transition: all 400ms ease 0s;
	-webkit-transition: all 400ms ease 0s;
	-ms-transition: all 400ms ease 0s;
	color: #FFF;
}

.menu .menubtn:hover,.menu .menubtnactive:hover {
	transition: all 400ms ease 0s;
	-moz-transition: all 400ms ease 0s;
	-o-transition: all 400ms ease 0s;
	-webkit-transition: all 400ms ease 0s;
	-ms-transition: all 400ms ease 0s;
	background-color: #93C33C;
	color: #FFF;
}

.menu .menubtnactive {
	color: #FFF;
	transition: all 400ms ease 0s;
	-moz-transition: all 400ms ease 0s;
	-o-transition: all 400ms ease 0s;
	-webkit-transition: all 400ms ease 0s;
	-ms-transition: all 400ms ease 0s;
	background-color: rgba(145,209,0,1);
}

a:link,a:visited,a:hover,a:active,.menu a {
	text-decoration: none;
	color: #FFF;
	font-weight: lighter;
}

.pag {
	background: #FFF;
	box-shadow: 0 0 10px rgba(50,50,50,0.45);
	color: #FFF;
	display: block;
	left: 50%;
	margin-left: -390px;
	margin-right: -390px;
	position: absolute;
	right: 50%;
	transition: all 100ms;
	width: 780px;
	-moz-box-shadow: 0 0 10px rgba(50,50,50,0.45);
	-moz-transition: all 100ms;
	-o-transition: all 100ms;
	-webkit-box-shadow: 0 0 10px rgba(50,50,50,0.45);
	-webkit-transition: all 100ms;
	padding-top: 50px;
	padding-right: 0;
	padding-bottom: 50px;
	padding-left: 0;
}

.subtitle {
	background: #f4f4f4;
	clear: both;
	color: rgba(145,209,0,1);
	float: left;
	font-size: 25px;
	height: 50px;
	line-height: 50px;
	padding-left: 25px;
	padding-right: 25px;
	width: 730px;
}

.title {
	background: #f4f4f4;
	color: rgba(145,209,0,1);
	font-size: 50px;
	line-height: 100px;
	padding-left: 25px;
	padding-right: 25px;
}

body,HTMl {
	cursor: default;
	display: block;
	margin: 0;
	padding: 0;
}
html {
	overflow-y: scroll;
}
iframe {
	margin-bottom: 10px;
	margin-top: 10px;
	transition: all 500ms;
	-moz-transition: all 500ms;
	-o-transition: all 500ms;
	-webkit-transition: all 500ms;
}
body {
	background-color: rgba(120,170,28,1);
}
body,td,th {
	font-family: "Segoe UI";
	font-weight: lighter;
	color: #FFFFFF;
}