@font-face {
    font-family: 'trendexlightssiregular';
    src: url('trendexlightssi-webfont.eot');
    src: url('trendexlightssi-webfont.eot?#iefix') format('embedded-opentype'),
         url('trendexlightssi-webfont.woff') format('woff'),
         url('trendexlightssi-webfont.ttf') format('truetype'),
         url('trendexlightssi-webfont.svg#trendexlightssiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}